body{
    padding: 0px;
    margin: 0px;
}

.page{
    width: 100%;
    margin: 0 auto;
    color: white;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax-1:nth-child(1) {
    color: black;
}

section.module.parallax-1:nth-child(2) {
    background-image: url(../assets/bgd.jpg);
}

section.module.parallax-1:nth-child(3) {
    background-image: url(../assets/bgd2.jpg);
}

section.module.parallax-1:nth-child(4) {
    background-image: url(../assets/bgd3.jpg);
}

section.module.parallax-1:nth-child(5) {
    background-image: url(../assets/bgd4.jpg);
}